<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="/test.css" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
    
        <title>Course Registration</title>
</head>

<body>
	
	<div th:insert="header :: header"></div>
    
      <div class="main_contents">
    <div id="sub_content">
        <form th:object="${studentBean}">

            <h2 class="col-md-6 offset-md-2 mb-5 mt-4">Student Details</h2>
            <div class="row mb-4">
                <div class="col-md-2"></div>
                <label for="name" class="col-md-2 col-form-label">Id</label>
                <div class="col-md-4">
                    <input type="text" class="form-control" id="name" th:field="*{id}" readonly/>
                </div>
                  <div class="col-md-4">
                    <p th:if="${#fields.hasErrors('id')}"  style="color:red"   th:errors="*{id}" />
                </div>
            </div>
            <div class="row mb-4">
                <div class="col-md-2"></div>
                <label for="name" class="col-md-2 col-form-label">Name</label>
                <div class="col-md-4">
                    <input type="text" class="form-control" id="name" th:field="*{name}" readonly />
                </div>
                  <div class="col-md-4">
                    <p th:if="${#fields.hasErrors('name')}"  style="color:red"   th:errors="*{name}" />
                </div>
            </div>
            <div class="row mb-4">
                <div class="col-md-2"></div>
                <label for="dob" class="col-md-2 col-form-label">DOB</label>
                <div class="col-md-4">
                    <input type="date" class="form-control"  th:field="*{dob}" id="dob" readonly/>
                </div>
                <div class="col-md-4">
                    <p th:if="${#fields.hasErrors('dob')}"  style="color:red"   th:errors="*{dob}" />
                </div>
            </div>
            <fieldset class="row mb-4">
                <div class="col-md-2"></div>
                <legend class="col-form-label col-md-2 pt-0">Gender</legend>
                <div class="col-md-4">
                    <div class="form-check-inline">
                        <input type="radio" class="form-check-input" th:field="*{gender}" readonly value="Male" />
                        <label class="form-check-label" for="gridRadios1">
                            Male
                        </label>                       
                    </div>
                    <div class="form-check-inline">
                        <input type="radio" class="form-check-input"  th:field="*{gender}" readonly value="Female" />
                        <label class="form-check-label" for="gridRadios1">
                            Female
                        </label>                  
                    </div>    
                </div>
                <div class="col-md-4">
                    <p th:if="${#fields.hasErrors('gender')}" th:errors="*{gender}"  style="color:red" />
                </div>
            </fieldset>
    
            <div class="row mb-4">
                <div class="col-md-2"></div>
                <label for="phone" class="col-md-2 col-form-label">Phone</label>
                <div class="col-md-4">
                    <input type="text" class="form-control" id="phone" th:field="*{phone}" readonly/>
                </div>
                <div class="col-md-4">
                    <p th:if="${#fields.hasErrors('phone')}"  style="color:red" th:errors="*{phone}" />
                </div>
            </div>
            <div class="row mb-4">
                <div class="col-md-2"></div>
                <label for="education" class="col-md-2 col-form-label">Education</label>
                <div class="col-md-4">
                    <select class="form-select" aria-label="Education" th:field="*{education}" id="education" disabled>
                        <option value="0" >Bachelor of Information Technology</option>
                        <option value="1" >Diploma in IT</option>
                        <option value="2" >Bachelor of Computer Science</option>    
                    </select>
                </div>
                
            </div>
            <fieldset class="row mb-4">
                <div class="col-md-2"></div>
                <legend class="col-form-label col-md-2 pt-0">Attend</legend>          
              
                <div class='col-md-4'>
                	<input type="checkbox" disabled class="form-check-input col-md-2 ms-2" th:each="course : ${courseList}" th:text="${course.name}" th:value="${course.id}" th:field="*{course}" >
   
               </div> 
                <div class="col-md-4">
                    <p th:if="${#fields.hasErrors('course')}"  style="color:red" th:errors="*{course}" />
                </div>

            </fieldset>
            <div class="row mb-4">
                <div class="col-md-2"></div>
                <label for="name" class="col-md-2 col-form-label">Photo</label>
                <div class="col-md-4">
                    <input type="file" class="form-control" id="name" readonly>
                </div>
            </div>
    
            <div class="row mb-4">
                <div class="col-md-4"></div>
    
                <div class="col-md-4" >
                    <a th:href="@{/studentUpdate(id=${studentBean.id})}">
                        <button type="button" class="btn btn-secondary">                          
                            <span>Update</span>
                        </button>
                    </a>
                        <!-- Button trigger modal -->
                     <a >
	                    <button type="button" class="btn btn-danger"   data-bs-toggle="modal" data-bs-target="#exampleModal">
	                       <span>Delete</span> 
	                    </button>
                     </a>
    
                    <!-- Modal -->
                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                        aria-hidden="true">
                        <div class="modal-dialog modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Student Deletion</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    Are you sure you want to delete?
                                </div>
                                <div class="modal-footer">
                                    <a th:href="@{/studentDelete(id=${studentBean.id})}" type="button" class="btn btn-secondary" >Ok</a>
                                
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
    
            </div>
    
    
    
    
    
            </form>
    </div>
</div>
</div>
        <div id="testfooter">
            <span>Copyright &#169; ACE Inspiration 2022</span>
        </div>
        <script>
            /* Loop through all dropdown buttons to toggle between hiding and showing its dropdown content - This allows the user to have multiple dropdowns without any conflict */
            var dropdown = document.getElementsByClassName("dropdown-btn");
            var i;
            
            for (i = 0; i < dropdown.length; i++) {
              dropdown[i].addEventListener("click", function() {
              this.classList.toggle("active");
              var dropdownContent = this.nextElementSibling;
              if (dropdownContent.style.display === "block") {
              dropdownContent.style.display = "none";
              } else {
              dropdownContent.style.display = "block";
              }
              });
            }
            </script>
</body>

</html>

